
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cherry Bomb One', cursive;
}

body {
    background-image: url('../image/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    background-color: transparent;
    padding: 20px 10%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
}

 .navbar a {
    align-items: end;
    margin-left: 35px;   
    font-weight: 400;
    text-decoration: none;
    font-weight: 400;
    font-size: 19px;
    color: rgb(135, 188, 241);
    transition: .5s;
}


.navbar a:hover,
.navbar a.active 
{
    color: white;
}

.logo {
    font-size: 36px;
    color: rgb(135, 188, 241);
    text-decoration: none;
    transition: .5s;
} 

.logo:hover {
    color:white;
}

.home-content {
    margin: 170px 10%;
    max-width: 600px;
}

.home-content h1 {
    font-size: 60px;
    color: rgb(135, 188, 241);
    position: relative;
}

.home-content h3 {
    color: white;
    font-weight: 300;
}

.about-content h1 {
    font-size: 60px;
    color: rgb(135, 188, 241);
    position: relative;
    text-align: center;
}

.about-content { /*отступы 25% чтобо содержимое контейнера было по центру*/
    max-width: 900px;
    margin: 170px 25%;
}
.about-content h3 { /*отступы между h3 текстом и h1, вес шрифта и расположение его в центре а не слева*/
    color: white;
    font-weight: 300;
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
}

 .photo img{  /*ставлю шиирину для картин и отступы между ними*/
    max-width: 750px;
    margin: 0 15px;
}

.photo { /*настройка чтобы картина не смещала другую вниз занимаю все выделенную горизанталь*/
    display: inline-flex;
}

.btn-box a{
    text-decoration: none;
    font-size: 36px;
    border: 2px rgb(135, 188, 241) solid;
    border-radius: 20px;
    margin: 0px 10px;
    text-align: center;
    justify-content: center;
    color: rgb(135, 188, 241);
    background: white;
    transition: .5s;
}

.btn-box a:nth-child(2) {
    color: white;
    background: rgb(135, 188, 241);
}

.btn-box a:nth-child(2):hover {
    color: rgb(135, 188, 241);
    background: white;
}

.btn-box a:hover {
    color: white;
    background: rgb(135, 188, 241);
}

.btn-box {
    margin: 70px 0px;
}