<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <a href="#" class="logo">Shooko </a>
      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="about.html">About</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>
    <div class="home">
        <div class="home-content">
            <h1>Shooko</h1>
            <h3>I'm a 3-rd year student at Astana IT University<h3>
              <div class="btn-box">
                <a href="contact.html">Hire me</a>
                <a href="https://t.me/vshooko", target="_blank">Let's Talk</a>
              </div>
        </div>
        <div class="home-sci">
          <a href="https://t.me/vshooko" target="_blank"><i class='bx bxl-telegram'></i></a>
          <a href="https://www.linkedin.com/in/amirkhan-mubarakov-%F0%9F%92%BB-6a91b2275/", target="_blank"><i class='bx bxl-linkedin-square'></i></a>
        </div>
    </div>
  </body>
</html>
